.App {
  text-align:space;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin :  15%;
  padding: 5%;
 
  background-image: linear-gradient( rgba(8, 3, 8, 0.5), rgba(249, 249, 250, 0.5));
}
.rex{
  background-image: linear-gradient( rgba(239, 244, 245, 0.5), rgba(2, 17, 22, 0.5));
  margin :  15%;
  padding: 5%;
}
.ses{
  background-image: linear-gradient( rgba(25, 24, 26, 0.5), rgba(245, 238, 243, 0.5));
  padding: 5%;
}
